services:
  - type: web
    name: recovervault-backend
    env: node
    plan: free
    branch: master
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: NOWPAYMENTS_API_KEY
        sync: false
      - key: ACCESS_KEY
        sync: false
      - key: EMAIL_WEBHOOK
        sync: false
      - key: ADMIN_EMAIL
        sync: false
